include README.md
include LICENSE

recursive-include res *.png
recursive-include docs/source/_static *.png

recursive-include snakejazz *.md
recursive-include snakejazz *.txt
recursive-include snakejazz *.wav

recursive-exclude snakejazz/sounds/yt_downloads *.wav

exclude tox.ini
exclude pyproject.toml
recursive-exclude tests *
recursive-exclude docs *
